@import url('https://fonts.googleapis.com/css?family=Jura|Rajdhani');

body{
  background-color: #ffffff;
  overflow:hidden;
  left: 0;
}
star{display: block; background-color: #fff; position: absolute; border-radius: 100%; animation-timing-function: linear;animation-iteration-count: infinite;}

@keyframes move_right {
   from { transform: rotate(0deg) translateX(8px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(8px) rotate(-360deg); }
}

@keyframes move_left {
   from { transform: rotate(0deg) translateX(8px) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(8px) rotate(360deg); }
}

/* the intro panel */
.intro{color:#63baf7; margin: 1em; font-family: Jura; font-size: 11pt}
.intro .customization-panel{display: flex;flex-wrap: wrap;}
.intro .customization-title{flex-basis : 100%;padding: 10px 0; font-size: 14pt; text-shadow: 0 0 .3em #63baf7; color: #fff;}
.intro .customization-js{margin-right: 2em;}

.footer {
  position: fixed;
  background: #000000;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.footer-ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0;
  user-select: none;
  color: hsl(0, 0%, 52%);
}
#li-home {
  color: white;
}
.Farming {
  width: 90%;
  padding: 20px 0px;
  border: 0;
  color: black;
  background-color: rgb(220, 220, 220);
  left: 5%;
  position: fixed;
  bottom: 45px;
  font-family: Georgia, 'Times New Roman', Times, bold;
  z-index: 21;
}