body {
    background: white;
    text-align: center;
    margin-top: 50px;
}
.user_name {
    padding: 50px 50px;
    background: rgba(124, 124, 124, 0.505);
    color: white;
    border-radius: 50px;
    text-align: center;
}